@model DirectDoc2.Models.Consultation
@using DirectDoc2.DAL
@using DirectDoc2.Models

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Consultation</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
             Patient Name
        </dt>

        @*@Html.DisplayFor(model => model.Person.FullName)*@
        @{
            ClinicContext db = new ClinicContext();
            var fullname = from person in db.Clients
                            where person.ID == Model.PersonID
                            select person;
                               
            if(fullname.Any())
            {
                foreach(var person in fullname)
                {
                    <dd>
                        @person.FullName
                    </dd> 
                }
                       
            }
        }

        <dt>
            @Html.DisplayNameFor(model => model.ConsultationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultationTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultationTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModalityDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModalityDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubTotal)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
