@model DirectDoc2.Models.Person
@using DirectDoc2.DAL;

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sponsor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sponsor.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Initials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Initials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dependant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dependant)
        </dd>

        <dt>
            Address
        </dt>
        <dd>
            @{
                ClinicContext db = new ClinicContext();
                var address = from a in db.PostalAddresses
                              where a.PersonID == Model.ID
                              select a;

                if (address.Any())
                {
                     foreach(var ad in address)
                        {
                            @ad.BoxNumber<br />
                            @ad.City<br />
                            @ad.Country
                        } 
                }

                else
                {
                    @Html.ActionLink("Add Address", "Create", "Address")
                }

            }
        </dd>
        <dt>
            Phone numbers
        </dt>
        <dd>
            @{
                var phones = from p in db.Phones
                              where p.PersonID == Model.ID
                              select p;

                if (phones.Any())
                {
                    foreach (var phone in phones)
                    {
                        @phone.PhoneType<br />
                        @phone.AreaCode<br />
                        @phone.Number
                    }
                }

                else
                {
                    @Html.ActionLink("Add Phone", "Create", "Phone")
                }

            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
