@model DirectDoc2.Models.Person
@using DirectDoc2.DAL;
@using DirectDoc2.Models

@{
    ViewBag.Title = "Details";
}

@{
    ClinicContext db = new ClinicContext();
    Tariff tariff = new Tariff();
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
	<hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Sponsor.Sponsor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sponsor.SponsorID)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Initials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Initials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dependant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dependant)
        </dd>

        <dt>
            Insurance
        </dt>

        <dd>
            @{
                //get matching mainmember id from Model MedicalAids
                var insuranceOwner = from i in db.MedicalAids
                                where i.PersonID == Model.ID
                                select i;

                var insuranceDetails = from i in db.MedicalAids
                                       join j in db.Clients on
                                       i.PersonID equals j.ID into mainMemberInsurance
                                       from insured in mainMemberInsurance
                                       select insured;
                                
                var insurance_tariff = from i in db.MedicalAids
                                        join t in db.Tariffs on
                                        i.TariffID equals t.ID into insure
                                        from ins in insure
                                        select ins;

                if (insuranceOwner.Any())
                {
                    foreach (var insure in insuranceOwner)
                    {
                        <text>Name:</text> @insure.NameOfAid <br />
                        <text>Policy Number:</text> @insure.PolicyNumber <br />
                    }
                    
                    if (insurance_tariff.Any())
                    {
                        foreach (var insure in insurance_tariff)
                        {
                            <text>Tariff:</text> @insure.TariffType
                        }
                    }
                }

                else
                {
                    @Html.ActionLink("Add Insurance", "Index", "Medical");
                }

            }
        </dd>

        <dt>
            Address
        </dt>

        <dd>
            @{
                
                var address = from a in db.PostalAddresses
                              where a.PersonID == Model.ID
                              select a;

                if (address.Any())
                {
                    foreach (var ad in address)
                    {
                        <text>
                        @ad.BoxNumber, @ad.City, @ad.Country 
                        </text><br />
                    }
                }

                else
                {
                    @Html.ActionLink("Add Address", "Index", "Address");
                }

            }
        </dd>

        <dt>
            Phone numbers
        </dt>

        <dd>
            @{
                var phones = from p in db.Phones
                              where p.PersonID == Model.ID
                              select p;

                if (phones.Any())
                {
                    foreach (var phone in phones)
                    {
                        <text>(</text>@phone.PhoneType<text>)</text>  @phone.AreaCode @:- @phone.Number <br />
                    }
                }

                else
                {
                    @Html.ActionLink("Add Phone", "Create", "Phone")
                }

            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
