@model DirectDoc2.Models.MedicalAid

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>MedicalAid</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.PersonID, "PersonID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PersonID", String.Empty)
                @Html.ValidationMessageFor(model => model.PersonID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NameOfAid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameOfAid)
                @Html.ValidationMessageFor(model => model.NameOfAid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PolicyNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PolicyNumber)
                @Html.ValidationMessageFor(model => model.PolicyNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TariffID, "TariffID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TariffID", String.Empty)
                @Html.ValidationMessageFor(model => model.TariffID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
