@model DirectDoc2.Models.Invoice
@using DirectDoc2.DAL
@using DirectDoc2.Models

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Patient Name
        </dt>

            @{
                ClinicContext db = new ClinicContext();
                var patientname = from patient in db.Clients
                            where patient.ID == Model.PersonID
                            select patient;
                            
                if(patientname.Any())
                {
                    foreach(var name in patientname)
                    {
                        <dd>
                            @name.FullName
                        </dd>
                            
                    }
                }
            }
       
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfAid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfAid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientBirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientBirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
</div>

<div class="row">
        <div class="col-md-1">Code</div>
        <div class="col-md-1">Description</div>
        <div class="col-md-1">Qty.</div>
        <div class="col-md-1">Price</div>
        <div class="col-md-1">Total</div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
